* {
    margin: 0;padding:0;
}
body {
    background-color: black;
}
.heading {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    font: monospace;
    margin:40px;
    
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

.calculator-div {
    display: flex;
    width: 70%;
    height: 100;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 7px solid #251b1b;
    border-radius: 25px;
    padding: 50px 100px;
    background-image: radial-gradient(circle, rgba(144, 240, 219, 0.644), rgba(128, 245, 253, 0.801), rgba(90, 180, 231, 0.733));
    box-shadow: 0px 10px 40px 30px grey;
}

.calculator-form {
    padding-top: 40px;
    padding-bottom: 60px;
    
    padding-left: 30px; padding-right: 30px;
    font-size: 20px;
}



.submit-add {
    margin: 15px;
    background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    z-index: 1;
  }
  .submit-add:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
     background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .submit-add:hover {
    color: #fff;
  }
  .submit-add:hover:after {
    top: 0;
    height: 100%;
  }
  .submit-add:active {
    top: 2px;
  }
  



.submit-subtract {
    margin: 15px;
    background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    z-index: 1;
  }
  .submit-subtract:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
     background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .submit-subtract:hover {
    color: #fff;
  }
  .submit-subtract:hover:after {
    top: 0;
    height: 100%;
  }
  .submit-subtract:active {
    top: 2px;
  }


.submit-multiply {
    margin: 15px;
    background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    z-index: 1;
  }
  .submit-multiply:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
     background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .submit-multiply:hover {
    color: #fff;
  }
  .submit-multiply:hover:after {
    top: 0;
    height: 100%;
  }
  .submit-multiply:active {
    top: 2px;
  }
  



.submit-division {
    margin: 15px;
    background-color: #89d8d3;
  background-image: linear-gradient(315deg, #89d8d3 0%, #03c8a8 74%);
    border: none;
    z-index: 1;
  }
  .submit-division:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
     background-color: #4dccc6;
  background-image: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .submit-division:hover {
    color: #fff;
  }
  .submit-division:hover:after {
    top: 0;
    height: 100%;
  }
  .submit-division:active {
    top: 2px;
  }
  

#first-number {
    border-radius: 25px;
    width: 300px;
    height: 30px;
    margin: 10px;
    text-align: center;
    padding:10px;
    background-color: #000000;
    color:rgba(128, 245, 253, 0.801);
    font-size: 20px;
    
}

#second-number {
    border-radius: 25px;
    width: 300px;
    height: 30px;
    margin: 10px;
    text-align: center;
    padding:10px;
    background-color: #000000;
    color:rgba(128, 245, 253, 0.801);
    font-size: 20px;
}

.output {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    flex-direction: column;
    
    
    
}
.output-value {
    border: 2px solid #000000;
    border-radius: 25px;
    width: 300px;
    height: 40px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #000000;
    color:rgba(128, 245, 253, 0.801);
}